{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "tabWidth": 4,
  "trailingComma": "es5"
}
